@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Josefin+Sans:wght@100;200;300;400;500&display=swap');
#faq{
  text-align:center;
  background-image: url(../assets/why_mars.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height:100vh;
}

#faq .overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  z-index: 0;
  background-color:rgba(0,0,0,0.4);
}

.faq{
  position: relative;
  z-index:2;
}

.faq h1{
  color:#fff;
  font-family:Josefin Sans;
  margin-top:60px;
}

.faq .items .item{
  background-color:#fff;
  width:800px;
  margin:auto;
  text-align:left;
  padding:8px 20px;
  border-radius:5px;
  margin-bottom:15px;
}

.faq .items .item h3{
  cursor: pointer;
  position: relative;

}

.faq .items .item h3 i{
  font-size:20px;
}