@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Josefin+Sans:wght@100;200;300;400;500&display=swap');
header{
  background-image:url(../assets/marsbg.jpg);
  height:100vh;
  background-size:cover;
  background-position:center;
  position: relative;
}

header .overlay{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
z-index: 0;
background-color:rgba(0,0,0,0.4);
}

.navbar-nav{
  margin-left:auto;
}

.navbar-light{
  z-index:2;
  position: relative;
  padding-left: 50px;;
  padding-right: 50px;;
}

.navbar-light .navbar-nav .nav-item .nav-link{
color:#fff;
font-family: Josefin Sans;
margin-right:20px;
position:relative;
font-weight:400;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover{
  color:#ff6a00;
}

.navbar-light .navbar-brand{
  color:#e46c26;
  font-family:Akaya Telivigala;
  outline:none;
  font-size:30px;
  text-transform:uppercase;
}

header .content{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:2;
  width:100%;
  text-align:center;
}

.content h1,.content p{
  color:#fff;
}

header .content h1{
font-size:90px;
font-family:Josefin Sans;
font-weight:600;
}

header .content p{
  font-family: Akaya Telivigala;
  font-size:20px;
}

.navbar-light{
  transition:.5s;
}

.navbar-light.fixed{
  position: fixed;
  width:100%;
  background-color:#fff;
}

.navbar-light .navbar-brand:hover,.navbar-light .navbar-brand:visited{
  color:#e46c26;
}


.navbar-light .navbar-nav .nav-item .nav-link:after{
  content:"";
  position:absolute;
  width:0%;
  height:2px;
  background-color:#ff6a00;
  left:8px;
  top:31px;
  transition:.5s;
} 

.navbar-light .navbar-nav .nav-item .nav-link:hover:after{
  width:75%;
}

header .scroll-down{
  position: absolute;
  bottom:20px;
  left:50%;
  color:#fff;
  cursor: pointer;
  animation:scroll 2s linear infinite;
}

@keyframes scroll{
  0%{bottom:20px;}
  50%{bottom:10px;}
  100%{bottom:20px;}
}

.intro{
  background-image: url(../assets/why_mars.jpg);
  background-size:cover;
  background-position:center; 
  background-repeat: no-repeat;
  padding:180px 50px;
  color:#fff;
  overflow:hidden;
}

.intro .content{
  width:50%;
  float:right;
}

.intro .content h1{
  margin-bottom:30px;
  margin-left:0;
font-family:Josefin Sans;
}

.navbar-light .navbar-toggle{
  cursor:pointer;
}

.navbar-light .navbar-toggler .navbar-toggler{
  background-color:#fff;
  width: 30px;
  height:3px;
  display:block;
  border:none;
  margin-bottom:5px;
  padding:0;
}