.custom-btn-nav{
    color: white;
    border: 1px solid #FF6a00 !important;
}

.custom-btn-nav{
    background-color: #FF6a00;
    border-radius: 50px;
    padding: 7px 23px;
    font-size: 17px;
}
.custom-btn-nav:hover{
    color: #FF6a00 !important;
    background-color: white !important;
    border: 1px solid #FF6a00;
    transition: .5s ease;
}
.custom-title-nav{
    font-size:51px !important ;
    font-family: sans-serif !important;
    font-weight: bold;
}
