.cust-nav-bg{
    background-color: transparent;
}
.nav-title-sc{
    font-size:51px !important ;
    font-family: sans-serif !important;
    font-weight: bold;
    color: #FF6a00 !important;
}
.nav-link{
    color: white !important;
}
.user-name{
    color: white !important;
    font-size:18px !important;
}
.link-sc-nav{
    color: white !important;
}
.ul-sc-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}