form{
  width:500px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align:center;
  font-family:Josefin Sans;
}

.form{
  background-image: url(../assets/login_bg.jpg);
  background-size:cover;
  background-repeat: no-repeat;  width: 100%;
  height:100vh;
  width:100%;
  position: relative;
}

.form .overlay{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 0;
  background-color:rgba(0,0,0,0.6);
}

form .form-group{
  margin-bottom:30px;
}

form h1{
  margin-bottom:25px;
  color:#fff;
}

input[type=submit]
{
  padding:10px 20px;
  border-radius:50px;
  width:150px;
  background-color:#2980b9!important;
}

.form form input.form-control{
  background:transparent!important;
  border:none;
  border-radius:0;
  padding-left:10px;
  border-bottom:1px solid #ced4da;
  color:#ced4da;
}

.form form input:not(input[type=submit]):focus{
  box-shadow:none;
  background:none;
  color:#ced4da;
  outline:none;
}

form select{
  width:100%;
  border-color:#ced4da;
  padding:.375rem .75rem;
  border-radius:5px;
  outline:none;
  color: #7a8489;
  background:none;
  padding:.575rem .75rem;
}

.form form span.to-login{
  color:#fff;
}

form select option{
  background:none;
}
.form-control:focus{
box-shadow:none;
background:transparent;
}
.btn-cust-sign-login{
  background-color: #FF6a00;
  padding: 17px 20px;
  border-radius:35px ;
  border: 1px solid white !important;
}
.btn-cust-sign-login:hover{
background-color: white;
color: #FF6a00;
border: 1px solid #FF6a00;
transition: all .5s ease ;
}